title: AtoZ132's blog
description: >- # site description
  Low Level Security Blog
lang: en-US # default lang
timezone: Asia/Jerusalem
image: assets/img/avatar.png
mode: dark

author:
  name: AtoZ132
  avatar: assets/img/avatar.png
  github: AtoZ132
  twitter: AtoZ132

url: ""
baseurl: ""
google_analytics: # leave it blank if not wish
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Homepage limit posts
number_of_posts: 5

# Build settings
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles

sass:
  style: compressed

include:
  - _redirects
  - .htaccess

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
